#graph-paper.search-route h3 {
    color: var(--card-text-color);
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 2.25rem;
    text-align: center;
}

repository-section + repository-section {
    margin-top: 2rem;
}
