#graph-paper.search-route {
    & .search-header {
        color: var(--graph-paper-text-color);
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    & repository-section {
        margin-top: 2rem;
    }

    & spin-indicator {
        display: block;
        margin: 26vh auto 0;
        width: fit-content;
    }
}
