@import '@fontsource/inter/200';
@import '@fontsource/inter/400';
@import '@fontsource/inter/600';
@import '@fontsource/inter/900';
@import '../reset.css';
@import '../variables.css';
@import '../ui.css';
@import '../app-header.css';

html {
    font-family: 'Inter', sans-serif;
}

:root {
    --progress-height: 8rem;
    --main-height: calc(100vh - var(--header-height) - var(--progress-height));
}

#binny-guide {
    height: var(--main-height);
    padding-top: 4rem;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
    width: min(84rem, 84vw);

    & #explanation {
        grid-area: 1 / 1 / 2 / -1;
        text-align: center;
        h2 {
            margin-bottom: 1rem;
        }
    }

    & #guide-shortcuts {
        grid-area: 2 / 1 / 3 / 2;
        justify-self: center;
        align-self: center;
        width: min-content;

        & h4 {
            font-size: 0.9rem;
            font-weight: 600;
        }

        & .guide-grouping {
            & + .guide-grouping {
                margin-top: 1.5rem;
            }

            & .shortcuts {
                margin-top: 1rem;
                display: flex;
                gap: 1rem;

                &.done .checkmark {
                    opacity: 1;
                }

                & .checkmark {
                    align-self: center;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                }
            }
        }
    }

    & #guide-interactive {
        grid-area: 2 / 2 / 3 / 3;
    }
}

#sync-progress {
    display: grid;
    justify-content: center;
    align-items: center;
    height: var(--progress-height);

    & #sync-progress-card {
        width: 84vw;
        max-width: 960px;

        & #sync-progress-msg {
            color: var(--card-text-color);
            font-size: 0.84rem;
            margin-bottom: 1rem;
        }

        & sync-progress {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: var(--bar-gap, 3px);
            padding-left: var(--bar-gap, 3px);
            border: var(--card-border);
            border-radius: 2px;
            height: 20px;

            & .progress {
                background: var(--color-green);
                height: 80%;
                width: var(--bar-width, 5px);
            }
        }
    }

    & #search-link {
        display: none;
        align-content: center;
        background: var(--color-pink);
        color: #eef;
        border: var(--card-border);
        border-radius: 0.4rem;
        height: calc(var(--header-height) * 0.5);
        font-size: 1.2rem;
        letter-spacing: 0.042rem;
        padding: 0 1.5rem;
        text-decoration: none;
        width: fit-content;

        &:hover {
            background: var(--color-green);
        }
    }

    &.finished #search-link {
        display: grid;
    }
}

footer {
    height: 50vh;
    max-width: 960px;
}

::view-transition-new(root) {
    animation: view-in 0.2s ease-in;
}

::view-transition-old(root) {
    animation: view-out 0.2s ease-out;
}

@keyframes view-in {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes view-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50vw);
    }
}
