sync-progress {
    background: #efe;
    /* border: 2px solid #bbb; */
    border-radius: 4px;
    padding: 0 4px;

    & .label {
        color: #777;
        font-size: 0.7rem;
    }

    & .indicator {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: var(--bar-gap, 3px);
        padding-left: var(--bar-gap, 3px);
        border: 2px solid #bbb;
        border-radius: 2px;
        height: 20px;

        & .progress {
            background: #5f5;
            height: 80%;
            width: var(--bar-width, 5px);
        }
    }
}
