.DS_Store
.idea
node_modules
tsconfig.tsbuildinfo

frontend/.env.production
frontend/dist
frontend/dist.zip
libs/github/lib
libs/template/lib
lambdas/.l3
lambdas/.env.local

# playwright tests
blob-report
playwright/.cache
playwright-report
test-results
