.DS_Store
.idea
node_modules
tsconfig.tsbuildinfo

contract/lib
frontend/.env.development
frontend/.env.production
frontend/dist
frontend/dist.zip
github/lib
lambdas/.l3
offline/lib
template/lib

# playwright tests
blob-report
playwright/.cache
playwright-report
test-results
