.DS_Store
.idea
node_modules
tsconfig.tsbuildinfo

frontend/.env.development
frontend/.env.production
frontend/dist
frontend/dist.zip
github/lib
lambdas/.l3
lambdas/.env.local
template/lib

# playwright tests
blob-report
playwright/.cache
playwright-report
test-results
