interface-control {
    --key-out-bg: #666;
    --key-in-bg: #444;
    --key-border: #333;
    --key-height: 2.5rem;
}

html.flipped interface-control {
    --key-out-bg: #aaa;
    --key-in-bg: #ccc;
    --key-border: #666;
}

interface-control {
    position: relative;
    z-index: 1;
    font-family: monospace;
    font-style: italic;
    font-size: 1rem;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

interface-control span {
    cursor: pointer;
}

interface-control .keyboard-key {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 2.5rem;
    min-width: 2.5rem;
    padding: .5rem;
    margin: 8px;
    border-radius: .5rem;
    color: var(--card-bg-color);
    background: var(--key-in-bg);
    border: 1px solid var(--key-border);
}

interface-control .keyboard-key::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    left: -5px;
    right: -8px;
    bottom: -8px;
    border-radius: .5rem;
    border: 2px solid var(--key-border);
    background: var(--key-out-bg);
}
