#page-grid {
    & user-panel {
        grid-area: 3 / -3 / 6 / -1;
    }
}

#triangle-ish {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 0, 0 90%, 10% 90%, 20% 80%, 20% 20%, 80% 20%, 90% 10%, 100% 10%, 100% 0, 0 0);
    background: var(--triangle-bg-color);
    z-index: var(--triangle-z-index);
}

html.authed {
    & #page-grid {
        & #bot-left-ish {
            grid-column-end: 2;
        }

        & #top-right-ish {
            grid-column-start: -2;
        }
    }
}
