#explain-dialog {
    max-width: 800px;
    width: 40vw;
    margin: 30vh auto;
    padding: 3.5rem;
    background: #eee;
    font-size: 1.1rem;
}

#explain-dialog p {
    line-height: 1.5rem;
    letter-spacing: .032rem;
}

#explain-dialog .pkg {
    font-family: monospace;
}

#explain-dialog p + p {
    margin-top: 1.5rem;
}

#explain-dialog button {
    margin: 0 auto;
    font-size: 2vmin;
    padding: 1vmin 2vmin;
}

#explain-dialog::backdrop {
    background: rgba(50, 50, 50, .5);
}
