#explain-dialog {
    max-width: 800px;
    width: 40vw;
    margin: 30vh auto;
    padding: 3.5rem;
    background: #eee;
    font-size: 1.1rem;

    & p {
        line-height: 1.5rem;
        letter-spacing: .032rem;
    }

    & .pkg {
        font-family: monospace;
    }

    & p + p {
        margin-top: 1.5rem;
    }

    & button {
        margin: 0 auto;
        font-size: 2vmin;
        padding: 1vmin 2vmin;
    }

    &::backdrop {
        background: rgba(50, 50, 50, .5);
    }
}
