html.out:not(.reader) #triangle {
    transform: scale(0);
    transform-origin: top left;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: .25s;
    transition-duration: .6s;
}

#graph-paper-grid {
    width: 100vw;
    display: grid;
    grid-template-columns: 20vw 10vw 1fr 10vw 20vw;
    grid-template-rows: 20vh 10vw 1fr 10vw 20vh;
}

#graph-paper-header {
    grid-column: 3 / -3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#graph-paper {
    grid-column: 3 / -3;
    grid-row: 3 / -3;
}
