html.out:not(.reader) #triangle {
    transform: scale(0);
    transform-origin: top left;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: .25s;
    transition-duration: .6s;
}

#triangle2 {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 90% 10%, 80% 20%, 20% 20%, 20% 80%, 10% 90%, 0 90%);
}

#graph-paper {
    position: relative;
    left: 20vw;
    top: 20vh;
    width: 60vw;
}
