html.out:not(.reader) #triangle {
    transform: scale(0);
    transform-origin: top left;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: .25s;
    transition-duration: .6s;
}

#triangle2 {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 90% 10%, 80% 20%, 20% 20%, 20% 80%, 10% 90%, 0 90%);
}

#graph-paper-positioning {
    position: absolute;
    left: 20vw;
    top: 20vh;
    width: 60vw;
    min-height: 60vh;
}

#graph-paper {
    margin: 0 auto;
    padding: 10vh 0;
    max-width: 38rem;
    width: 40vw;
}
