:root {
    --out-transition-duration: 400ms;
}

#controls, #explain, #features *, #header, #login, #logo, #tagline {
    transition: transform var(--out-transition-duration) ease-in-out, opacity 100ms ease-in-out var(--out-transition-duration);
}

#controls {
    opacity: 0;
    transition-delay: 150ms;
}

html.out #controls {
    opacity: 1;
    transform: translateY(0);
}

html.out #features * {
    opacity: 0;
    transform: translateX(100vw);
}

html.out #explain, html.out #logo, html.out #tagline {
    opacity: 0;
    transform: translateX(-100vw);
}

html.out #login {
    opacity: 0;
    pointer-events: none;
    transform: scale(50%);
}

html.out #header {
    opacity: 0;
    transform: translateY(-100vh);
}

/*
 *  UI Reader mode
 */

#eighty4, #github {
    transition: transform var(--out-transition-duration) ease-in-out;
    transition-delay: 150ms;
}

#triangle {
    --triangle-shift-rotate-degs: -45deg;
    --triangle-shift-scale-percent: 300%;
    --triangle-shift-translate-x: -12.5vw;
}

#triangle.shift {
    animation: shift-triangle 600ms;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
}

#triangle.unshift {
    animation: shift-triangle 600ms;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

#triangle.shifted {
    transform: rotate(var(--triangle-shift-rotate-degs)) scale(var(--triangle-shift-scale-percent)) translateX(var(--triangle-shift-translate-x));
}

html.reader #controls {
    display: none;
}

html.reader #eighty4 {
    transform: translateY(50vh);
}

html.reader #github {
    transform: translateY(-50vh);
}

/* todo dynamic rotate degrees based on aspect ratio */
@keyframes shift-triangle {
    0% {
        transform: rotate(0deg) scale(100%) translateX(0vw) translateY(0vh);
    }

    50% {
        transform: rotate(var(--triangle-shift-rotate-degs)) scale(var(--triangle-shift-scale-percent)) translateX(0vw) translateY(0vh);
    }

    100% {
        transform: rotate(var(--triangle-shift-rotate-degs)) scale(var(--triangle-shift-scale-percent)) translateX(var(--triangle-shift-translate-x));
    }
}
