@font-face {
    font-family: 'GetShipped';
    src: url('../../public/GetShipped.woff2');
    unicode-range:
        U+0020, U+0047, U+0064-0065, U+0068-0070, U+0073-0074, U+0077;
}

:root {
    --header-color-bg: #fff;
    --header-max-height: 512px;
    --header-min-height: 64px;
    --header-content-max-height: 10rem;
    --header-content-min-height: 3.5rem;
    --header-max-width: 79rem;
    --header-max-font-size: 7rem;
    --header-min-font-size: calc(var(--header-min-height) / 2);
}

@media (max-height: 768px) {
    :root {
        --header-max-height: 256px;
    }
}

body {
    padding-top: var(--header-max-height);
}

#header-backdrop {
    margin-top: 1px;
    height: var(--header-max-height);
}

#binny-header {
    background: var(--header-color-bg);
    position: fixed;
    top: 0;
    height: var(--header-max-height);
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;

    animation: header-height;
    animation-fill-mode: both;
    animation-range: 0 var(--header-max-height);
    animation-timeline: scroll(root);
}

#header-content {
    height: var(--header-content-max-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--header-max-width);

    animation: header-content-height;
    animation-fill-mode: both;
    animation-range: 0 var(--header-max-height);
    animation-timeline: scroll(root);
}

#header-stack {
    position: relative;

    #header-text {
        position: relative;
        font-size: var(--header-max-font-size);
        font-style: italic;
        font-weight: 900;
        animation: header-font-size;
        animation-fill-mode: both;
        animation-range: 0 var(--header-max-height);
        animation-timeline: scroll(root);

        & span {
            color: var(--color-green);
        }
    }
}

#get-shipped {
    --get-shipped-height-from: 16rem;
    --get-shipped-left-from: -11rem;
    --get-shipped-top-from: -7rem;
    --get-shipped-height-to: 12rem;
    --get-shipped-left-to: -8rem;
    --get-shipped-top-to: -6.5rem;
    height: var(--get-shipped-height-from);
    aspect-ratio: 1/1;
    position: absolute;
    left: var(--get-shipped-left-from);
    top: var(--get-shipped-top-from);

    animation: get-shipped-font-size;
    animation-fill-mode: both;
    animation-range: 0 var(--header-max-height);
    animation-timeline: scroll(root);

    & #get-shipped-path {
        fill: none;
    }
    text {
        fill: black;
        stroke: none;
        font-family: 'GetShipped', sans-serif;
    }
}

@keyframes header-height {
    to {
        height: var(--header-min-height);
    }
}

@keyframes header-content-height {
    to {
        height: var(--header-content-min-height);
    }
}

@keyframes get-shipped-font-size {
    50% {
        left: var(--get-shipped-left-from);
        top: var(--get-shipped-top-from);
        height: var(--get-shipped-height-from);
    }
    to {
        left: var(--get-shipped-left-to);
        top: var(--get-shipped-top-to);
        height: var(--get-shipped-height-to);
    }
}

@keyframes header-font-size {
    20% {
        font-size: var(--header-max-font-size);
    }
    to {
        font-size: var(--header-min-font-size);
    }
}

#login-cta {
    & #login-link {
        anchor-name: --login-link;
        display: grid;
        align-content: center;
        background: var(--color-pink);
        color: #eef;
        border: 1px solid #33333333;
        border-radius: 0.4rem;
        height: calc(var(--header-min-height) * 0.5);
        font-size: 1.2rem;
        letter-spacing: 0.042rem;
        padding: 0 1.5rem;
        text-decoration: none;

        &:hover {
            background: var(--color-green);
        }
    }

    & #login-popup {
        display: none;
        position: absolute;
        position-anchor: --login-link;
        top: calc(anchor(bottom) + (var(--header-min-height) / 2));
        right: anchor(right);
        background: rgb(240, 245, 250);

        padding: 1rem;
        width: 17.5rem;
        max-width: 70vw;
        border: 1px solid #aaa;
        border-radius: 0.3rem;

        color: rgb(10, 15, 20);
        letter-spacing: 0.01rem;

        & .lead {
            font-size: 0.9rem;
            line-height: 1.2rem;
            margin-bottom: 0.84rem;
        }

        & .sub {
            font-style: italic;
            font-size: 0.8rem;
            line-height: 1.1rem;
            padding-left: 0.75rem;
        }

        & .sub + .sub {
            margin-top: 0.63rem;
        }
    }

    &:has(#login-link:hover) #login-popup {
        display: block;
    }
}
