@import url(./intro.br.css);
@import url(./intro.tl.css);
@import url(./intro.title.css);

body {
    --intro-animation-speed: 1;
    --intro-animation-skip-speed: 5;
}

#intro-tl,
#intro-br {
    position: absolute;
    z-index: 9;

    & .cmd {
        display: none;
        padding: 0.5rem 0.75rem;
        font-family: 'IBM Plex Mono', monospace;
    }

    & .support-logo {
        --logo-offset-x: -50%;
        --logo-offset-y: -50%;
        height: max(3vmin, 1.5rem);
    }
}
