#binny-intro-header {
    color: var(--triangle-text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &.griddled {
        grid-area: 3 / 2 / 5 /5;
    }

    &.centered {
        text-align: center;
        position: fixed;
        left: 50%;
        top: 5vh;
        transform: translateX(-50%);
    }

    & #binny-logo {
        font-weight: 500;
        letter-spacing: 0.1rem;

        & .tld-period {
            color: hotpink;
        }
    }

    & #binny-tagline {
        font-weight: 500;
        letter-spacing: 0.1rem;

        & .step-num {
            --alt-color: yellow;
            font-family: 'IBM Plex Mono', monospace;
            padding-left: 2px;
            border: 2px solid transparent;

            &.current {
                animation: highlightStep calc(2s / var(--intro-animation-speed))
                    infinite;
            }
        }
    }

    & #step-guide {
        font-size: 1.2rem;
        font-weight: 300;
    }
}
