#login-prompt {
    position: fixed;
    top: 55vh;
    left: 55vw;
    z-index: 5;

    margin: auto;
    display: none;
    font-size: 2rem;
    font-weight: 500;
    line-height: 7.5vh;
    text-wrap: balance;
    color: var(--graph-paper-text-color);

    &.show {
        display: unset;
    }

    & .buttons button {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 1vh 2vw;
        cursor: pointer;
        border-radius: 2px;
    }
}

#login-redirect {
    border: 1px solid var(--graph-paper-text-color);
}

#login-cancel {
    border: 1px solid transparent;
    opacity: 0.8;
    transition: all 100ms ease-in-out;

    &:hover {
        border: 1px solid #666;
        opacity: 1;
    }
}
