.row {
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: center;
}

.name {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 600;
}

.version {
    font-size: 1.1rem;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 2rem;

    & .download {
        border: none;
        background: #80f390;
        color: #021;
        display: inline-flex;
        align-items: center;
        padding: .5rem .75rem;
        transition: background .1s;

        & svg {
            margin-right: .25rem;
        }

        &:hover:not(:disabled) {
            background: #80ff90;
        }

        &:disabled {
            background: #a0eeb0;
            color: #687;
        }
    }
}

.bins-by-os {
    margin: 2.5rem 0;

    & .os {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 500;

        & system-logo {
            margin-right: 1rem;
        }
    }

    & .bins {
        padding: 1rem 0;
    }

    & .text {
        text-align: center;
        font-style: italic;
        padding: 2rem 0;
    }
}
