<div class="header">
    <div class="row">
        <span class="name"></span>
        <span class="version"></span>
    </div>
    <div class="row">
        <span style="flex: 1"></span>
        <span class="commit"></span>
    </div>
</div>
<div class="buttons">
</div>
<div class="bins-by-os linux">
    <h3 class="os">
        <system-logo color="#111" os="Linux" size="1.5rem"></system-logo>
        Linux binaries
    </h3>
    <div class="bins"></div>
</div>
<div class="bins-by-os macos">
    <h3 class="os">
        <system-logo color="#111" os="MacOS" size="1.5rem"></system-logo>
        MacOS binaries
    </h3>
    <div class="bins"></div>
</div>
<div class="bins-by-os windows">
    <h3 class="os">
        <system-logo color="#111" os="Windows" size="1.5rem"></system-logo>
        Windows binaries
    </h3>
    <div class="bins"></div>
</div>
