#name {
    flex: 1;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#version {
    font-size: 1.1rem;
    font-weight: 600;
}

#version, #commit {
    margin-top: .3rem;
}

#binaries {
    margin-top: 2rem;

    & .cat {
        text-align: left;

        & th {
            padding: .25rem;
        }
    }

    & .os {
        text-align: left;
        text-indent: 1.25rem;

        & th {
            padding: .25rem;
        }
    }

    & .bin {
        padding: .2rem;
        padding-left: 1.5rem;
        text-indent: 2.5rem;
        font-family: monospace;
    }
}
