.container {
    margin: 2.5rem;
}

.os {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.os .logo {
    display: inline-flex;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
}

.bins {
    margin-left: 2.5rem;
}
