.link {
    background: #111;
    border: 1px solid transparent;
    color: var(--triangle-text-color);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-decoration: none;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    transform-origin: center;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #282828;
        border-color: #555;
        border-radius: 15px;
        padding: 1rem 1.5rem;
        transform: scale(0.9);
    }

    &:active {
        transform: scale(0.85) translateY(3px);
        transition: all 0.075s ease-in-out;
    }
}

.deets,
.header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.name {
    flex: 1;
    font-size: 1.1rem;
}

.version {
    font-size: 0.9rem;
}

.deets {
    padding-left: 2.5rem;
}

.os-logos {
    display: contents;
}

.update {
    font-size: 0.8rem;
    flex: 1;
    text-align: right;
}
