name: Verify

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  verified:
    runs-on: ubuntu-latest
    needs:
      - fmtcheck
      - verify-e2e
      - verify-lambdas
      - verify-cli
      - verify-package-template
      - verify-package-template-windows
      - verify-website
    steps:
      - uses: actions/checkout@v4
      - run: echo "44.481800,-88.054413"

  fmtcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm i
      - run: pnpm fmtcheck

  #  verify-backend:
  #    runs-on: ubuntu-latest
  #    services:
  #      postgres:
  #        image: postgres:16
  #        ports:
  #          - 5432:5432
  #        env:
  #          POSTGRES_DB: eighty4
  #          POSTGRES_USER: eighty4
  #          POSTGRES_PASSWORD: eighty4
  #        options: >-
  #          --health-cmd pg_isready
  #          --health-interval 5s
  #          --health-timeout 5s
  #          --health-retries 10
  #    steps:
  #      - uses: actions/checkout@v4
  #      - uses: pnpm/action-setup@v4
  #      - uses: actions/setup-node@v4
  #        with:
  #          node-version: 22
  #          cache: pnpm
  #      - name: sql
  #        run: |
  #          sudo apt-get update -y
  #          sudo apt-get install -y postgresql-client
  #          PGPASSWORD=eighty4 psql -h localhost -U eighty4 -f v001-init-schema.sql eighty4
  #        working-directory: sql
  #      - run: pnpm i
  #      - name: verify
  #        run: |
  #          pnpm build
  #          pnpm test
  #        working-directory: backend

  verify-e2e:
    uses: ./.github/workflows/playwright.yml

  verify-lambdas:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: lambdas
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm i
      # - run: pnpm build
      - run: pnpm typecheck

  verify-cli:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/cli
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm i
      - run: pnpm --filter="!@binny.sh/webapp" build
      - run: pnpm test

  verify-package-template:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/template
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm i
      - run: pnpm --filter="!@binny.sh/cli" --filter="!@binny.sh/webapp" build
      - run: pnpm test:gold
      - run: pnpm test:integration

  verify-package-template-windows:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: packages/template
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm i
      - run: pnpm --filter="!@binny.sh/cli" --filter="!@binny.sh/webapp" build
      - run: pnpm test:integration

  verify-website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm i
      - run: pnpm --filter="!@binny.sh/cli" build
      - run: pnpm typecheck
